menu {
  padding-inline-start: 0;
  margin-block: 0em;
  ul {
    display: flex;
    list-style: none;

    li {
      display: flex;
      padding: 1rem;
      &:hover {
        background-color: darken(white, 20%);
      }
      a {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
