menu {
  background-color: red;
  padding-inline-start: 0;
  ul {
    display: flex;
    list-style: none;

    li {
      background-color: chocolate;
      padding: 1rem;
      &:hover {
        background-color: lighten(chocolate, 20%);
      }
    }
  }
}
