div.dataTables_wrapper {
  margin: 3rem 0;
}

.tablepress {
  thead,
  tfoot {
    th {
      background-color: black;
      color: white;
      font-weight: normal;
    }
  }
  tbody {
    tr {
      &:hover {
        cursor: pointer;
      }
      td {
        line-height: 2rem;
        &:last-child {
          background-color: green;
          font-weight: bold;
          font-size: 2rem;
        }
      }
    }
  }
}

.tablepress thead .sorting_asc,
.tablepress thead .sorting_desc,
.tablepress thead .sorting:hover {
  background-color: #4f4f4f;
  color: white;
}

.tablepress > .row-hover > tr:hover td:last-child {
  background-color: #c7c02a;
}

.dataTables_length,
.dataTables_filter {
  background-color: #ccc;
  padding: 1rem;
  label {
    input,
    select {
      border: 0;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

div.dataTables_info,
div.dataTables_paginate {
  background-color: red;
  padding: 1rem;
}

div.dataTables_paginate.paging_simple {
  padding: 1rem;
}
